.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #667eea, #764ba2);
    /*background: #764ba2;*/
}

.login-card {
    width: 400px;
    text-align: center;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-title {
    margin-bottom: 16px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.site-form-item-icon {
    color: rgba(0, 0, 0, 0.45);
}

.auth-container.login {
    background: linear-gradient(90deg, #667eea, #764ba2);
}